*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
}
nav{
	background: green;
	height: 90px;
	width: 100%;
}
label.logo{
	color: whitesmoke;
	font-size: 35px;
	line-height: 80px;
	padding: 90px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 15px;
	border-radius: 3px;
	text-transform: uppercase;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 5px;
}
a.active,a:hover{
	background: purple;
	transition: .5s;
}
.img{
	height: 800px;
	width: 1600px;
}